.filter-buttons {
    display: flex;
    gap: 45px;
    justify-content: center;
}

.filter-button {
    width: 150px;
    height: 45px;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    background-color: blue;
    color: white;
}
