.filter-buttons {
    display: flex;
    gap: 40px;
    justify-content: center;
}

.filter-button {
    width: 150px;       /* Set the width */
    height: 35px;      /* Set the height */
    padding: 8px 16px; /* Optional padding for top/bottom and left/right respectively */
    /* ... any other styles you want ... */
    text-align: center;  /* Ensures the text is centered within the button */
}
