.tasks-list {
    width: 50%;
}

.task {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 0;
}

.task-content {
    flex: 1;
    display: flex;
    align-items: center;
    cursor: pointer;
}

.task-actions {
    display: flex;
    gap: 20px;
}
