.tasks-list {
    width: 50%;
}

.task {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 0;
}

.task-content {
    flex: 1;
    display: flex;
    align-items: center;
    cursor: pointer;
}

.task-actions {
    display: flex;
    gap: 20px;
}

.edit-button{
    width: 50px;
    height: 25px;
    border: none;
    border-radius: 5px;
    font-size: 14px;
    cursor: pointer;
    background-color: yellow;
    color: black;
}

.delete-button{
    width: 50px;
    height: 25px;
    border: none;
    border-radius: 5px;
    font-size: 14px;
    cursor: pointer;
    background-color: #f56565;
    color: white;

}
